<div id="about" class="about load-hidden container py-5">
    <p class="about section-header">&diams; About Me &diams;</p>
    <br>
    <p class="about bg-transparent mx-auto col-md-10">After living in Toronto for the majority of my life, I decided to
        continue my post-secondary studies on the West
        Coast. I'm a student at UBC Sauder School of Business currently undertaking a Business and Computer Science
        Combined Major.

        Like many others in my learning path, I've had to face the dilemma of choosing which way to
        direct my career and so I've decided to use this site as a medium to share my journey so far. Hopefully it will also give insight to
        the type of person I am and aspire to be. Please look around!
        
        My current pursuit is to land a development role and gain first-hand experience in the tech industry. On top of
        creating my site/blog, I've been using this past summer to hone my technical skills in preparation for my job
        search.
    </p>
</div>