<div id="about" class="container py-5">
    <p class="section-header">&diams; About Me &diams;</p>
    <br>
    <p>After living in Toronto for the majority of my life, I decided to continue my post-secondary studies on the West
        Coast. I'm a student at <b>UBC Sauder School of Business</b>.
        As a student in the Business and Computer Science Combined Major, I've had to face the dilemma of which way to
        direct my career. I've decided to use this site as a medium to share my journey so far and give insight to the type of person I am and aspire to be. Please look around!
        <br><br>
        My current pursuit is to land a development role and gain first-hand experience in the tech industry. On top of
        creating my site/blog, I've been using this past summer to hone my technical skills in preparation for my job
        search.
    </p>
</div>
