<div id="experience" class="container py-5">
    <p class="section-header">&diams; My Journey &diams;</p>
    <div>
        {% for experience in site.data.experience %}
        <div class="row card-body bg-transparent">
            <div class="col-4">
                <img class="bg-dark img-thumbnail" src="{{ experience.img }}">
                <hr>
                <p>{{experience.title}}<br>{{experience.company}}<br>{{experience.date}}</p>
            </div>
            <div class="col-8">
                <ul>
                    {% for detail in experience.content %}
                    <li>{{detail}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div> 
</div>