<div id="home" class="h-100 row containter-fluid">
<div class="container row align-items-center mx-auto">

    <div class="w-100">
        
        <div class="row align-items-center justify-content-center">
            
            <p class="mx-auto text-center title">Hi, my name is Louie Weng.<br>Welcome to my site and blog.</p>
            <img class="col-lg-6 col-md-8 col-xs-12 col-sm-12" src='../static_files/assets/svg/main-pic.svg'>
        </div>
        <hr class="text-light">
        
        {% include navigation.html%}
        
    </div>
</div>
</div>