<div id="interests" class="interests load-hidden py-5 text-center">
    <p class="section-header">&diams; Interests &diams;</p>
    <p>Ultimate Frisbee. Athlete. Player. Coach. Explorer. Outdoors. Foodie. Competitor</p>
    <div>
        <div class="container card-columns">
            {% for image in site.static_files %}
                {% if image.path contains 'img/interests' %}
                    <img class="card interests" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>