<div class="nav-section justify-content-end bg-transparent">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-primary p-4 rounded border ">
      <h4 class="text-white text-center">Site Navigation</h4>
      <hr>
      <ul class="navbar-nav">
        {% for nav in site.data.navigation.topnav %}
        <li class="nav-link text-center">
          <a class="nav-item" href="{{ nav.link }}">{{ nav.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark rounded justify-content-end">
    <button class="navbar-toggler bg-transparent border" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>