<div>
    <div class="row">
        <div class="col-4 col-xs-3">
            {% for nav in site.data.navigation.homenav.left %}
                <a href="{{ nav.link }}">{{ nav.name }}</a><br>
            {% endfor %}
        </div>
        <div class="col-4 col-xs-6 d-flex justify-content-center">
            {% for nav in site.data.navigation.homenav.middle %}
                <a href="{{ nav.link }}"><img src='{{ site.baseurl }}/static_files/assets/{{ nav.img }}'></a>
            {% endfor %}
        </div>
        <div class="col-4 col-xs-3 text-right">
            {% for nav in site.data.navigation.homenav.right %}
                <a href="{{ nav.link }}">{{ nav.name }}</a><br>
            {% endfor %}
        </div>
    </div>
</div>

