<div>
    <div class="row">
        <div class="col-4 col-xs-3">
            <a href="#first-skyline">About</a><br>
            <a href="#">Interests</a>
        </div>
        <div class="col-4 col-xs-6 d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/louie-weng/"><img src='../static_files/assets/svg/linkedin.svg''></a>
            <a href="#"><img src=' ../static_files/assets/svg/github.svg'></a>
            <a href="#"><img src='../static_files/assets/svg/email.svg'></a>
        </div>
        <div class="col-4 col-xs-3 text-right">
            <a href="#">Skills</a><br>
            <a href="#experience">Experience</a>
        </div>
    </div>
</div>

