<nav class="navbar navbar-expand-sm fixed-top" id="navbar">
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse justify-content-end bg-transparent" id="navbarToggler">
        <ul class="navbar-nav">
            {% for nav in site.data.navigation.topnav %}
            <li class="nav-link mx-3 px-3">
                <a class="nav-item" href="{{ nav.link }}">{{ nav.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>